
.heading{
	margin-top: 50px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	letter-spacing: 3px;
	text-shadow: 2px 2px 5px red;
}

.navbar-brand{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.nav-link:hover{
	background-color: orange;
}

.box1,.box2,.box3{
        border: 2px solid black;
        margin: auto;
        width:50%;
        background-color: grey;
        margin-top: 50px;
        display: block;
    }  

 @media (min-width:992px) {
    .box1,.box2,.box3{
    border: 2px solid black;
    margin-bottom: 10px;
    width:27%;
    margin-top:60px ;
    background-color: grey;
    overflow: hidden;
}
.box1{                
    float: left;
    margin-left: 5%;

}

.box2{
    float: left;
    margin-left: 5%;
}

.box3{
    float: right;
    margin-right: 5%;

}}

@media (min-width: 768px) and (max-width: 991px) {
    .box1,.box2,.box3{
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 100px;
    background-color: grey;
    overflow: hidden;
}

.box1{                
    margin-left: 5%;
    float: left;
    width: 40%;

}

.box2{
    margin-left: 5%;
    float: left;
    width: 40%;
}

.box3{
    margin-left:5% ;                
    width:85.5% ;

}}


.Heading1{
	text-align: center;
    color: black;
    text-decoration: underline;
    letter-spacing: 3px;
}
.Heading2{
	text-align: center;
    color: black;
    text-decoration: underline;
    letter-spacing: 3px;
}
.Heading3{
	text-align: center;
    color: black;
    text-decoration: underline;
    letter-spacing: 3px;
}